.path-plus {
    display: flex;
}

#access-widged {
    width: 1.1em;
    color: #0f0;
    font-weight: bold;
    text-align: center;
}

#access-widged::before {
    content: "$";
}

#access-widged.root::before {
    content: "#";
    color: #f00;
}

#path,
#path:focus {
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
    padding: 0.05em;
}

#path:disabled {
    /* border: none; */
    color: black;
    border-color: white;
    background-color: white;
    /* text-decoration: underline; */
}

#path.almost {
    color: gray;
}

#path.wrong {
    color: red;
}

#scan {
    display: block;
    background-color: black;
    margin-left: 0.2em;
}

#scan.force {
    background-color: red;
}

.suggestions-block {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr auto;
}

#pre-suggestions {
    white-space: nowrap;
    opacity: 0;
    margin-right: 1em;
    overflow-x: auto;
}

.suggestions {
    top: 100%;
    left: 0;
    width: 100%;
    background: white;

    border: 2px solid #80808031;
    border-top: none;
    z-index: 1000;
    max-height: 50vh;
    overflow-y: auto;
}

.suggestion:nth-child(odd) {
    background-color: aliceblue;
}

.suggestion.locked {
    color: red;
}

.suggestion.selected {
    background-color: aqua;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

.tree-root {
    display: flex;
    gap: 0.5em;
}

#total-size {
    z-index: 100;
}

.temp #total-size {
    color: var(--temp-color);
    /* animation: wave-pulse 2s infinite ease-in-out; */
}

.probably-bigger #total-size::before {
    content: "≥";
}

.temp #total-size::after {
    content: "";
    display: inline-block;
    margin: 0 0.5em -0.1em;
    width: 0.9em;
    height: 0.9em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--temp-color);
    mask-image: url("icons/sync.svg");
    -webkit-mask-image: url("icons/sync.svg");
    -webkit-mask-size: contain;
    mask-size: contain;

    transform-origin: center center;
    /* animation: spin-counter 2s linear infinite; */
}

@keyframes spin-counter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.canceled #total-size::after {
    animation: none;
    mask-image: url("icons/refresh-cw-off.svg");
    -webkit-mask-image: url("icons/refresh-cw-off.svg");
}

#lock-widget {
    color: red;
}

#lock-widget::before {
    content: "";
    display: inline-block;
    margin-bottom: -0.1em;
    width: 1em;
    height: 0.85em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: red;
    -webkit-mask-size: contain;
    mask-size: contain;
    mask-image: url("icons/lock.svg");
    -webkit-mask-image: url("icons/lock.svg");
}

#cancel {
    display: none;
}

.temp #cancel {
    display: block;
    margin: 0.1em 0.5em 0.2em;
    background-color: black;
    /* animation: wave-pulse 3s infinite ease-in-out; */
}

.canceled #cancel {
    display: none;
}

#cancel:hover {
    background-color: red;
}
