:root {
    --temp-dir-icon: url("icons/folder-sync.svg");
    --unavailable-dir-icon: url("icons/folder-clock.svg");
}

/* path iput -------------------- */

#access-widged.locked {
    color: red;
    background-color: red;
    mask-size: 100% 80%;
    -webkit-mask-size: 100% 80%;
    mask-position: center center;
    -webkit-mask-position: center center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("icons/lock.svg");
    -webkit-mask-image: url("icons/lock.svg");
}

.icon-button {
    /* mask-size: 100% 80%; */
    /* -webkit-mask-size: 100% 80%; */
    background-color: black;
    mask-position: center center;
    -webkit-mask-position: center center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

#scan {
    mask-image: url("icons/search.svg");
    -webkit-mask-image: url("icons/search.svg");
}

#scan.scanning {
    mask-size: 90% 90%;
    -webkit-mask-size: 90% 90%;
    mask-image: url("icons/sync.svg");
    -webkit-mask-image: url("icons/sync.svg");
    opacity: 1;
}

#cancel2 {
    mask-image: url("icons/x.svg");
    -webkit-mask-image: url("icons/x.svg");
}

#suggestions-box {
    padding-left: 1.2em;
}

.suggestion {
    position: relative;
}

.suggestion::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1em;
    background-color: black;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-image: url("icons/folder.svg");
    -webkit-mask-image: url("icons/folder.svg");

    position: absolute;
    left: -1.1em;
    z-index: 2;
}

.suggestion.locked::before {
    background-color: red;
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.suggestion.link::before {
    background-color: #00acff;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.suggestion.locked.link::before {
    background-color: red;
}

/* tree design ----------------------- */
.shoot::before {
    background-color: black;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    position: absolute;
    left: 0;
}

.td::before {
    -webkit-mask-image: url("icons/folder.svg");
    mask-image: url("icons/folder.svg");
}

.td.locked::before {
    background-color: var(--locked-color);
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.td.locked.itself::before {
    cursor: not-allowed;
    background-color: red;
}

.td.temp::before {
    background-color: var(--temp-color);
    -webkit-mask-image: var(--temp-dir-icon);
    mask-image: var(--temp-dir-icon);
}

.td.unavailable::before {
    cursor: var(--unavailable-cursor, progress);
    background-color: var(--temp-color);
    -webkit-mask-image: var(--unavailable-dir-icon);
    mask-image: var(--unavailable-dir-icon);
}

.td.unfold::before {
    -webkit-mask-image: url("icons/folder-open.svg");
    mask-image: url("icons/folder-open.svg");
}

.t-::before {
    -webkit-mask-image: url("icons/file.svg");
    mask-image: url("icons/file.svg");
}

.hardlink::before {
    background-color: var(--hardlink-color);
}

.link::before {
    background-color: #00acff;
    mask-image: url("icons/link-2.svg");
    -webkit-mask-image: url("icons/link-2.svg");
}

.tbrk::before {
    background-color: #ff71c7;
}

.tperm-file::before,
.tperm-target::before {
    background-color: red;
}

.link.t-::before {
    mask-image: url("icons/file-link.svg");
    -webkit-mask-image: url("icons/file-link.svg");
}

.link.td::before {
    cursor: auto;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.tD::before {
    -webkit-mask-image: url("icons/database-zap.svg");
    mask-image: url("icons/database-zap.svg");
}

.tS::before {
    -webkit-mask-image: url("icons/unplug.svg");
    mask-image: url("icons/unplug.svg");
}

.tp::before {
    -webkit-mask-image: url("icons/waypoints.svg");
    mask-image: url("icons/waypoints.svg");
}
