:root {
    --max-size: 1;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/UbuntuMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
    padding: min(0.3em, 2%);
    font-family: "Ubuntu Mono", monospace;
}

input,
button {
    font: inherit;
}

button,
label {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85em;
    user-select: none;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #08f;
    color: white;
    font-size: 0.8em;
    padding-inline: 0.8em;
    opacity: 0.8;
}

button:hover {
    /* background-color: #004d00; */
    opacity: 1;
    box-shadow: 0 0px 2px 0 rgb(0, 0, 0);
}

button:disabled {
    opacity: 0.2;
}

input[type="checkbox"] {
    height: 0.7em;
    width: 0.7em;
}

.hidden {
    display: none !important;
}
