:root {
    --max-size: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.4rem;
    padding: 0.5em;
    font-family: "Ubuntu Mono", monospace;
}

input,
button {
    font: inherit;
}

.hidden {
    display: none;
}

#path {
    width: 100%;
}

.fd-sizebar {
    position: absolute;
    height: 1.11em;
    width: calc(var(--size) / var(--max-size));
    background-color: #0f0;
    z-index: 1;
}

.fd-name {
    z-index: 10;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fd-size {
    text-align: right;
    z-index: 10;
}
