* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.4rem;
    /* padding-left: 0.3em;
    padding-right: 0.5em; */
    padding: 0.5em;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Ubuntu Mono", monospace;
}

:root {
    --max-size: 1;
}

input {
    font: inherit;
}

.root {
    width: 7em;
}

ul {
    /* list-style-type: none; */
}

ul.dir-content {
    /* margin-bottom: 0.6em; */
    padding-bottom: 0.1em;
    list-style-type: none;
    min-height: 0.5em;
    /* border: 1px solid; */
    /* list-style-type: disc; */
    /* list-style-position: inside; */
}

li {
    border-left: 5px solid #ffffff00;
    position: relative;
    margin-block: 0.2em;
    margin-left: 0.4em;
}

li.nested {
    /* border-left: 3px solid gray; */
    border-left: 5px solid black;
    /* list-style-type: none; */
    /* font-weight: bold; */
}

li::before {
    font-weight: bold;
    /* content: "▬"; */
    position: absolute;
}

/* li.nested::before {
    z-index: 10;
    left: -0.1em;
    content: "+";
    content: "▼";
    content: "►";
} */

.fd-entry {
    /* display: flex; */
    display: grid;
    grid-template-columns: 7em auto;
    gap: 1em;
    /* border-bottom: 3px solid lightgray; */
    /* width: fit-content; */
    background-color: aliceblue;
}

.fd-vizual-size {
    position: absolute;
    height: 1.15em;
    width: calc(var(--size) / var(--max-size));
    /* width: 10em; */
    /* background-color: yellow; */
    background-color: #0f0;
    z-index: 1;
}

.fd-name {
    z-index: 10;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fd-size {
    /* font-weight: bold; */
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: right;
    z-index: 10;
    /* border-bottom: 1px solid lightgray; */
    /* background-color: aliceblue; */
}

.interactive {
    cursor: pointer;
    user-select: none;
}
