:root {
    --temp-dir-icon: url("icons/folder-sync.svg");
    --unavailable-dir-icon: url("icons/folder-clock.svg");
}

/* path iput -------------------- */

#access-widged.locked::before {
    content: "";
    display: inline-block;
    width: 1.1em;
    height: 1em;
    /* margin-left: -0.3em; */
    margin: 0.1em 0 0 -0.3em;
    background-color: red;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("icons/lock.svg");
    -webkit-mask-image: url("icons/lock.svg");
}

#suggestions-box {
    padding-left: 1.2em;
}

.suggestion {
    position: relative;
}

.suggestion::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1em;
    background-color: black;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-image: url("icons/folder.svg");
    -webkit-mask-image: url("icons/folder.svg");

    position: absolute;
    left: -1.1em;
    z-index: 2;
}

.suggestion.locked::before {
    background-color: red;
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.suggestion.link::before {
    background-color: #00acff;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.suggestion.locked.link::before {
    background-color: red;
}

/* tree design ----------------------- */
.shoot::before {
    background-color: black;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    /* margin: 0.1em 0 0; */
    /* background-color: black; */

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    position: absolute;
    left: 0;
}

/* .td {
    cursor: pointer;
} */

.td::before {
    /* cursor: pointer; */
    /* background-color: black; */
    -webkit-mask-image: url("icons/folder.svg");
    mask-image: url("icons/folder.svg");
}

.td.locked::before {
    background-color: var(--locked-color);
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.td.locked.itself::before {
    cursor: not-allowed;
    background-color: red;
}

.td.temp::before {
    background-color: var(--temp-color);
    -webkit-mask-image: var(--temp-dir-icon);
    mask-image: var(--temp-dir-icon);
}

.td.unavailable::before {
    cursor: var(--unavailable-cursor, progress);
    background-color: var(--temp-color);
    -webkit-mask-image: var(--unavailable-dir-icon);
    mask-image: var(--unavailable-dir-icon);
}

.td.unfold::before {
    -webkit-mask-image: url("icons/folder-open.svg");
    mask-image: url("icons/folder-open.svg");
}

.t-::before {
    /* background-color: black; */
    -webkit-mask-image: url("icons/file.svg");
    mask-image: url("icons/file.svg");
}

.hardlink::before {
    background-color: var(--hardlink-color);
}

.link::before {
    background-color: #00acff;
    mask-image: url("icons/link-2.svg");
    -webkit-mask-image: url("icons/link-2.svg");
}

.tbrk::before {
    background-color: #ff71c7;
    /* mask-image: url("icons/link-2.svg");
    -webkit-mask-image: url("icons/link-2.svg"); */
}

.tperm-file::before,
.tperm-target::before {
    background-color: red;
}

.link.t-::before {
    /* background-color: #00acff; */
    mask-image: url("icons/file-link.svg");
    -webkit-mask-image: url("icons/file-link.svg");
}

.link.td::before {
    cursor: auto;
    /* background-color: #00acff; */
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.tD::before {
    -webkit-mask-image: url("icons/database-zap.svg");
    mask-image: url("icons/database-zap.svg");
}

.tS::before {
    /* background-color: black; */
    -webkit-mask-image: url("icons/unplug.svg");
    mask-image: url("icons/unplug.svg");
}

.tp::before {
    /* background-color: black; */
    -webkit-mask-image: url("icons/waypoints.svg");
    mask-image: url("icons/waypoints.svg");
}
