:root {
    --temp-dir-icon: url("icons/folder-sync.svg");
    /* --temp-dir-icon: url("icons/folder-x.svg"); */
}

/* path iput -------------------- */

#access-widged.locked::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1em;
    /* margin-left: -0.3em; */
    margin: 0.1em 0 0 -0.3em;
    background-color: red;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-image: url("icons/lock.svg");
    -webkit-mask-image: url("icons/lock.svg");
}

#suggestions-box {
    padding-left: 1.2em;
}

.suggestion {
    position: relative;
}

.suggestion::before {
    content: "";
    display: inline-block;
    width: 1.2em;
    height: 1em;
    background-color: black;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-image: url("icons/folder.svg");
    -webkit-mask-image: url("icons/folder.svg");

    position: absolute;
    left: -1.1em;
    z-index: 2;
}

.suggestion.locked::before {
    background-color: red;
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.suggestion.link::before {
    background-color: #00acff;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.suggestion.locked.link::before {
    background-color: red;
}

/* tree design ----------------------- */
.shoot {
    position: relative;
    padding-left: 1.25em;
}

.shoot::before {
    content: "";
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    /* margin: 0.1em 0 0; */
    /* background-color: black; */

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    position: absolute;
    left: 0;
}

/* .td {
    cursor: pointer;
} */

.td::before {
    cursor: pointer;
    background-color: black;
    -webkit-mask-image: url("icons/folder.svg");
    mask-image: url("icons/folder.svg");
}

.td.locked::before {
    background-color: var(--locked-color);
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
}

.td.locked.itself::before {
    cursor: auto;
    background-color: red;
}

.td.temp::before {
    background-color: var(--temp-color);
    -webkit-mask-image: var(--temp-dir-icon);
    mask-image: var(--temp-dir-icon);
}

.td.unfold::before {
    -webkit-mask-image: url("icons/folder-open.svg");
    mask-image: url("icons/folder-open.svg");
}

.t-::before {
    background-color: black;
    -webkit-mask-image: url("icons/file.svg");
    mask-image: url("icons/file.svg");
}

.tL-::before {
    background-color: #00acff;
    mask-image: url("icons/file-link.svg");
    -webkit-mask-image: url("icons/file-link.svg");
}

.tLd::before {
    background-color: #00acff;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.tLbrk::before {
    background-color: #ff71c7;
    mask-image: url("icons/link-2.svg");
    -webkit-mask-image: url("icons/link-2.svg");
}

.hardlink::before {
    background-color: var(--hardlink-color);
}

/* .fd-type {
    background-color: black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 90% 90%;
    mask-size: 90% 90%;
} */

/* .fd-type.td {
    cursor: pointer;
} */

/* .td {
    mask-image: url("icons/folder.svg");
    -webkit-mask-image: url("icons/folder.svg");
} */

/* .temp > * > .td {
    background-color: var(--temp-color);
    mask-image: var(--temp-dir-icon);
    -webkit-mask-image: var(--temp-dir-icon);
} */

/* .locked > * > .td {
    background-color: var(--locked-color);
    mask-image: url("icons/folder-lock.svg");
    -webkit-mask-image: url("icons/folder-lock.svg");
} */

/* .td.unfold {
    mask-image: url("icons/folder-open.svg");
    -webkit-mask-image: url("icons/folder-open.svg");
} */

/* .t- {
    mask-image: url("icons/file.svg");
    -webkit-mask-image: url("icons/file.svg");
} */

/* .tL- {
    background-color: #00acff;
    mask-image: url("icons/file-link.svg");
    -webkit-mask-image: url("icons/file-link.svg");
}

.tLd {
    background-color: #00acff;
    mask-image: url("icons/folder-link.svg");
    -webkit-mask-image: url("icons/folder-link.svg");
}

.tLbrk {
    background-color: #ff71c7;
    mask-image: url("icons/link-2.svg");
    -webkit-mask-image: url("icons/link-2.svg");
} */
