:root {
    /* --temp-color: #00f; */
    --temp-color: #666;
    --locked-color: brown;
    --hardlink-color: #00f;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    /* gap: 0.1em; */
    height: 100vh;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

@keyframes wave-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

/* tree design */
#total-size {
    z-index: 100;
}

#tree {
    overflow: auto;
}

ul.dir-content {
    list-style-type: none;
    min-height: 0.9em;
    padding: 0.2em 0 1px;
    /* max-height: 150vh;
    overflow: auto;
    overflow: hidden; */
}

/* .dir-content .dir-content {
    margin-left: 0.9em;
} */

li {
    border: none;
    position: relative;
    /* margin: 0 0 0.2em 0; */
    padding-bottom: 0.2em;
}

.shoot {
    /* cursor: auto; */
    position: relative;
    padding-left: 1.25em;
    /* margin-bottom: 0.2em; */
}

.td {
    cursor: pointer;
}

.td li,
.td .fd-entry {
    cursor: auto;
}

/* .td li {
    pointer-events: none;
    cursor: auto;
} */

.fd-entry {
    display: grid;
    grid-template-columns: 4.7em auto;
    gap: 1em;
    position: relative;
    background-color: aliceblue;
}

.temp > * > .fd-size {
    /* animation: wave-pulse 2s infinite ease-in-out; */
    color: var(--temp-color);
}

/* .temp > * > .fd-size::before {
    content: "≥";
} */

/* .unavailable {
    color: var(--temp-color);
} */

.locked > * > .fd-size {
    color: var(--locked-color);
}

/* .locked > * > .fd-size::before {
    content: "≥";
} */

.locked.itself > * > .fd-size {
    color: red;
}

.locked.itself {
    color: red;
}

/* .hardlink > * > * > .fd-size {
    color: #00acff;
} */

.hardlink .fd-size {
    color: var(--hardlink-color);
}

.neglected .fd-size {
    opacity: 0.5;
}
