@keyframes wave-pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin-counter {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.animation .temp #total-size {
    color: black;
    animation: wave-pulse 2s infinite ease-in-out;
}

.animation .temp .scan-progress {
    transform-origin: center center;
    animation: spin-counter 2s linear infinite;
}
