:root {
    --max-size: 1;
}

@font-face {
    font-family: "Ubuntu";
    src: url("fonts/Ubuntu-R.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("fonts/UbuntuMono-R.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: yellow; */
}

body {
    font-size: 1.2em;
    padding: min(0.3em, 2%);
    font-family: "Ubuntu Mono", monospace;
}

h4 {
    font: inherit;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9em;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input,
button {
    font: inherit;
}

button,
label {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85em;
    user-select: none;
}

label {
    color: #000c;
}

label:has(input:not(:checked):disabled) {
    /* text-decoration: line-through;
    color: black; */
    display: none !important;
}

label:has(input:checked) {
    color: black;
}

label:has(input:checked:disabled) {
    margin-left: 0.8em;
    position: relative;
}

label:has(input:checked:disabled)::before {
    content: "";
    position: absolute;
    left: -0.85em;
    top: 0.28em;
    width: 0.6em;
    height: 0.6em;
    background-color: black;
    border-radius: 50%;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #08f;
    color: white;
    font-size: 0.8em;
    padding-inline: 0.8em;
    opacity: 0.8;
}

button:hover {
    /* background-color: #004d00; */
    opacity: 1;
    box-shadow: 0 0px 2px 0 rgb(0, 0, 0);
}

button:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

input[type="checkbox"] {
    height: 0.8em;
    width: 0.8em;
    margin-top: 0.1em;
    margin-left: 0;
}

input[type="radio"] {
    height: 0.8em;
    width: 0.8em;
    /* margin-top: 0.1em; */
}

/* input[type="checkbox"]:not(:checked):disabled { */
input[type="checkbox"]:disabled {
    display: none;
}

input[type="radio"]:disabled {
    display: none;
}

.hidden {
    display: none !important;
}
