:root {
    --temp-color: #666;
    --locked-color: brown;
    --hardlink-color: #00f;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100svh;
}

#tree {
    overflow: auto;
    padding-left: 0.5%;
}

ul.dir-content {
    list-style-type: none;
    min-height: 0.9em;
    padding: 0.2em 0 1px;
}

li {
    border: none;
    position: relative;
    /* margin: 0 0 0.2em 0; */
    /* padding-bottom: 0.2em; */
}

.show-more {
    padding-left: 0.2em;
}

.shoot {
    /* cursor: auto; */
    position: relative;
    padding-left: 1.12em;
    margin-bottom: 0.2em;
}

.td {
    cursor: pointer;
}

.td li,
.td .fd-entry {
    cursor: auto;
}

.td.pending.unfold::after {
    content: "Loading content...";
}

.fd-entry {
    display: grid;
    grid-template-columns: 4.2em auto;
    gap: 1em;
    position: relative;
    background-color: aliceblue;
    padding: 0.01em 0 0.01em;
}

.fd-sizebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(var(--size) / var(--max-size));
    background-color: #0f0;
    z-index: 1;
}

.fd-size {
    display: flex;
    align-items: center;
    justify-content: right;
    /* text-align: right; */
    z-index: 10;
}

.fd-name {
    z-index: 10;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.temp > * > .fd-size {
    /* animation: wave-pulse 2s infinite ease-in-out; */
    color: var(--temp-color);
}

.locked > * > .fd-size {
    color: var(--locked-color);
}

.locked.itself > * > .fd-size {
    color: red;
}

.locked.itself {
    color: red;
}

.hardlink .fd-size {
    color: var(--hardlink-color);
}

.neglected .fd-size {
    opacity: 0.5;
}
